version: "3.8"
services:
  db:
    environment:
      MYSQL_DATABASE: "db"
      MYSQL_USER: "username"
      MYSQL_PASSWORD: "password"
      MYSQL_ROOT_PASSWORD: "password"
  api:
    build:
      context: .
      target: "dev"
    image: shop.api
    env_file: .env
    environment:
      - PORT=8012
      - DB_PORT=3306
      - DB_USERNAME=username
      - DB_PASSWORD=password
      - DB_HOST=db
      - DB_DATABASE=db
      - TYPEORM_SYNCHRONIZE=true
      - JWT_SECRET=frd7qTn5HlJbWRFq9ltBGBveF2efY4IGEkgcMzEAB38jqRAaoJWLGDkKQxATeYlh
      - PUBLIC_URL=localhost:3000
    volumes:
      - ./src:/app/src
